raw_data/*
!raw_data/.gitkeep
data/*
!data/.gitkeep
tfr_data/*
!tfr_data/.gitkeep
saved_models/*
!saved_models/.gitkeep

src/__pycache__
src/preprocess/__pycache__
src/ingest/__pycache__
src/models/__pycache__
src/train/__pycache__
src/utilities/__pycache__